{
    main:0;
    padding:0;
    box-sizing: border-box;
}

.body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    background-color: rgb(38, 180, 190);
    box-shadow: #4d8eee;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.nav-continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    max-width: 1200px;
    
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 16px;
}

